@value font-size: 12px;

.list {
  color: blue;

  
}

.item {
  text-decoration: line-through;
}

.colored {
  background-color: lightblue;
}

.list-red {
  background-color: red;
}

.btn {
  background-color: aqua;
  color: blueviolet;
}