.list {
  color: green;

  
}

.item {
  text-decoration: line-through;
}

.colored {
  background-color: lightblue;
}

.list-red {
  background-color: red;
}

.btn {
  background-color: aqua;
  color: blueviolet;
}